---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import RecipeCard from "@components/RecipeCard";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedRecipes: CollectionEntry<"recipe">[];
}

const { currentPage, totalPages, paginatedRecipes } = Astro.props;
---

<Layout title={`Recipes | ${SITE.title}`}>
  <Header activeNav="recipes" />
  <Main pageTitle="Recipes" pageDesc="Some family favourites...">
    <ul>
      {
        paginatedRecipes.map(({ data, slug }) => (
          <RecipeCard href={`/recipes/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/recipes/${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/recipes/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
